@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

.logo .v-img__img{
  position: relative !important;
}
.error-message{
  color: red !important;
  font-size: 0.875rem !important;
  margin-top: 8px;
}

/* Sidebar menu */
.btn-collapse {
  position: absolute;
  inset-block-start: 50%;
  transform: translateY(-50%);
}
.menu-list {
  .v-list-subheader__text {
    text-transform: uppercase;
  }
  .v-list-item__prepend > .v-icon {
    margin-inline-end: 16px;
  }
  .v-list-item-title {
    text-transform: capitalize;
  }
}
.app-main {
  background-color: var(--v-theme-background, '#f6f6f6');
}
.app-main .app-container {
  max-width: 1440px;
  .page-title {
    color: #3f434a;
    font-size: 28px;
    font-weight: 700;
    padding: 10px;
  }
}
