@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.logo .v-img__img{
  position: relative !important;
}

@media (min-width: 350px) {
  .v-card-form{
    width: 350px !important;
  }
  .profile-card{
    min-width: 300px;
  }
  .dropdown-box{
    min-width: 100%;
  }
  .table-leave-of-employee {
    max-width: 100% !important;
    font-size: 0.8rem;
  }
}
@media (min-width: 640px) {
  .v-card-form{
    width: 600px !important;
  }
  .login-card {
    margin: 60px 20px 0px 20px;
  }
  .table-leave-of-employee {
    max-width: 60% !important;
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  .profile-card{
    min-width: 750px;
  }
  .v-card-form{
    width: 750px !important;
  }
  .table-label{
    min-width: 200px;
  }
  .dropdown-box{
    min-width: 100%;
  }
  .table-leave-of-employee {
    max-width: 40% !important;
    font-size: 0.8rem;
  }
}

.error-message{
  color: red !important;
  font-size: 0.875rem !important;
  margin-top: 8px;
}

/* Sidebar menu */
.btn-collapse {
  position: absolute;
  inset-block-start: 50%;
  transform: translateY(-50%);
}
.menu-list {
  .v-list-subheader__text {
    text-transform: uppercase;
  }
  .v-list-item__prepend > .v-icon {
    margin-inline-end: 16px;
  }
  .v-list-item-title {
    text-transform: capitalize;
  }
}
.app-main {
  background-color: var(--v-theme-background, '#f6f6f6');
}
.app-main .app-container {
  max-width: 1440px;
  .page-title {
    color: #3f434a;
    font-size: 28px;
    font-weight: 700;
    padding: 10px;
  }
}
.gender-radio-group .v-selection-control-group{
  display: flex;
  flex-direction: row;
  gap: 10px; 
  margin-left: 20%;
}
.v-main{
  background-color: #d4edff !important;
}
.v-table, .v-table__wrapper {
  border-radius: 12px !important;
}
.v-table thead {
  background-color: rgba(0, 86, 247, 0.2) !important;
}
.v-data-table-footer .v-input{
width: 110px !important;
}